#palavrasTableDiv {
    max-height: 400px;
    overflow-y: auto;
}

td {
    padding-right: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 5px !important;
}

.desactive {
    cursor: not-allowed;
}

.pagina {
    max-height: 200px;
}

div[id^='pagina'] {
    max-height: 250px;
    overflow-y: auto;
}

div[id*=bucket]:not(#bucketsInfoDiv):not(#bucketDiv) {
    max-height: 400px;
    overflow-y: scroll;
}

html, body, #loading {
    height: 100%;
}

#loading .row {
    margin: auto;
}

.highlight td {
    background-color: yellow !important;
}


#grafo {
    width: 600px;
    height: 400px;
    border: 1px solid lightgray;
}